@import '../style/variables';

body{
    background-color: $background-color;
    padding: 0;
    margin: 0;
}

.main > .container{
    padding-top: 110px;
}

header {

}

.container{
    max-width:1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.row:after{

}

